.q-select-radio {
  margin: auto;
}

tbody tr {
  min-height: 64px;
  height: 64px;
}

tbody tr td:first-child {
  text-align: center;
}

#image {
  width: 15% !important;
  height: auto !important;
}

.title-green {
  color: #00a65a;
}

.title-orange {
  color: #f39c12;
}

.title-red {
  color: #dd4b39;
}

.row-green {
  background-color: #00a65a !important;
  -webkit-box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
          box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.row-red {
  background-color: #dd4b39 !important;
  -webkit-box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
          box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
