.q-select-radio {
    margin: auto;
}

tbody tr {
    min-height: 64px;
    height: 64px;
    // Select the first cell of the row
    td:first-child {
        text-align: center;
    }
    td {
        // text-align: center;
    }
    // .green {
    //     background-color: green;
    // }
    // .red {
    //     background-color: red;
    // }
}